<%= form_with(model: setup_concept(concept), local: true) do |form| %>
  <% if concept.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(concept.errors.count, "error") %> prohibited this concept from being saved:</h2>

      <ul>
      <% concept.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :concept_name %>
  </div>

  <div class="field">
    <%= form.label :stage %>
    <%= form.text_field :stage, id: :concept_stage %>
  </div>

  <div class="field">
    <%= form.label :dvf %>
    <%= form.text_field :dvf, id: :concept_dvf %>
  </div>

  <div class="field">
    <%= form.label :current_valuation %>
    <%= form.number_field :current_valuation, id: :concept_current_valuation %>
  </div>

  <div class="field">
    <%= form.label :future_valuation %>
    <%= form.number_field :future_valuation, id: :concept_future_valuation %>
  </div>
  <%= form.fields_for :notes do |ff| %>
      <div>
        <%= ff.label :title %>
        <%= ff.text_field :title %>
      </div>
  <% end %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
