<p id="notice"><%= notice %></p>

<h1>Concepts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Stage</th>
      <th>Dvf</th>
      <th>Current valuation</th>
      <th>Future valuation</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @concepts.each do |concept| %>
      <tr>
        <td><%= concept.name %></td>
        <td><%= concept.stage %></td>
        <td><%= concept.dvf %></td>
        <td><%= concept.current_valuation %></td>
        <td><%= concept.future_valuation %></td>
        <td><%= concept.notes %></td>
        <td><%= link_to 'Show', concept %></td>
        <td><%= link_to 'Edit', edit_concept_path(concept) %></td>
        <td><%= link_to 'Destroy', concept, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Concept', new_concept_path %>
