<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @concept.name %>
</p>

<p>
  <strong>Stage:</strong>
  <%= @concept.stage %>
</p>

<p>
  <strong>Dvf:</strong>
  <%= @concept.dvf %>
</p>

<p>
  <strong>Current valuation:</strong>
  <%= @concept.current_valuation %>
</p>

<p>
  <strong>Future valuation:</strong>
  <%= @concept.future_valuation %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @concept.notes %>
</p>

<%= link_to 'Edit', edit_concept_path(@concept) %> |
<%= link_to 'Back', concepts_path %>
